@charset 'utf-8'; 

.department .sub_visual{
    background:url(../img/brand1.jpg) no-repeat center/cover;
}
.department .division{
    width:100%; height:600px; 
    background:url(../img/bgDivision.jpg) no-repeat center/contain; 
}

.department .division .div_tree{
     position:absolute; top:-9999px; opacity:0;   
    text-indent:-9999px; transition:2s; 
}

/* tablet */
@media screen and (max-width:1179px){     
    .department .division{
         height:60vw;          
    } 
}
/* mobile */
@media screen and (max-width:539px){
     .department .division { height:auto; background:none; }

     .department .division .div_tree{
         position:relative; top:0px; opacity:1; text-indent:0px; 
     }
     .department .division .div_tree li span {
         display:block; width:40%; height:50px; background:#111; margin-bottom:20px; 
         border-radius:25px;  font:bold 13px/50px '맑은 고딕'; color:#fff; text-align:center; position:relative;  
     }
     .department .division .div_tree li ul li span{
         background:#666; transform:translateX(70px); 
     }
     .department .division .div_tree li ul li ul li span{
        background:#999; transform:translateX(140px); 
    }

    .department .division .div_tree li span::after{
        content:''; display:block; width:1px; background:#aaa; 
        height:calc(70px * 17 - 25px); position:absolute; top:50px; left:50px; 
    }

    .department .division .div_tree li ul li span::before{
        content:''; display:block; width:20px; height:1px;  background:#aaa; 
         position:absolute; top:25px; left:-20px; 
    }

    .department .division .div_tree li ul li:nth-of-type(1) span::after{
        display:none; 
    }
    .department .division .div_tree li ul li:nth-of-type(2) span::after{
        display:none; 
    }
    .department .division .div_tree li ul li:nth-of-type(3) span::after{
         height:calc(70px * 2 - 25px); 
    }
    .department .division .div_tree li ul li:nth-of-type(4) span::after{
        height:calc(70px * 3 - 25px); 
   }
   .department .division .div_tree li ul li:nth-of-type(5) span::after{
    height:calc(70px * 2 - 25px); 
    }
    .department .division .div_tree li ul li:nth-of-type(6) span::after{
        height:calc(70px * 3 - 25px); 
    }
    .department .division .div_tree li ul li:nth-of-type(7) span::after{
        height:calc(70px * 2 - 25px); 
    }

    .department .division .div_tree ul ul li span::after{
        display:none; 
    }
}