/* reset */
*{margin:0; padding:0;}
ol,ul,li{list-style: none;}
a{text-decoration: none; outline-style: none;}

/* 전체 layout */
#box5{
    width:100%; padding: 50px 0; 
}
#box5 .inner{
    width:1180px; margin:0 auto;
}
#box5 .inner h1{
    font: bold 22px/1.0 'arial'; color:#555; text-align: center; 
    margin-bottom: 10px; 
}
#box5 .inner p{
    font: normal 16px/1.0 'arial'; color:#777; text-align: center; 
    margin-bottom: 40px;
}

#box5 .inner .wrap{
    width:100%;
}
#box5 .inner .wrap::after{
    content:''; display: block; clear: both;
} 
#box5 .inner .wrap article{
    width:280px; border:solid #999 1px; border-bottom:solid #555 3px; 
    float:left; margin-left:10px;
}

/* article */
#box5 .inner .wrap article .pic{
    width:100%; height:150px; background:#555; 
    margin-bottom:20px;
}
#box5 .inner .wrap article .txt-box{
    width:100%; padding:40px 30px; box-sizing: border-box;                                                             
}
#box5 .inner .wrap article .txt-box h2{
    font: bold 18px/1.0 'arial'; color:#333; text-align: center; 
    margin-bottom:20px; 
}
#box5 .inner .wrap article .txt-box p{
    font: normal 15px/1.5 'arial'; color:#777; text-align:center; 
    margin-bottom:30px; 
}
#box5 .inner .wrap article .txt-box a{
    display:block; width:150px; height:40px; padding-top:12px; box-sizing: border-box;
    border-radius: 30px; background: #888;  box-shadow: 10px 10px 10px rgba(0,0,0,.25);
    font: bold 15px/1.0 'arial'; color:#eee; 
    text-align: center; margin:0 auto; 
    margin-bottom:20px;  
}