@charset 'utf-8'; 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{ margin:0; padding:0; }
ol,ul,li{ list-style:none; }
a{ text-decoration:none; }
fieldset{border:none;  }
input{ outline:0; }
body{
    background:rgba(228,250,255,0.9); 
}

section{
    width:400px; background:#fff; 
    margin:100px auto; 
    padding:70px 50px 60px; 
    box-sizing:border-box; 
    border-radius:10px; 
    box-shadow:10px 10px 30px rgba(0,0,0,0.03);

    legend{
        font:45px/1 'Roboto'; color:#555; 
        margin-bottom:40px; 
        &::after{
            content:''; display:block; 
            width:40px; height:1px; 
            background:#999; margin-top:20px; 
        }
    }

    .pwd{
        label{
            display:block; margin-bottom:10px; color:#999; 

        }

        input[type=password]{
            width:100%; background:#f5ffff; 
            border:1px solid #ddd; 
            padding:10px; box-sizing:border-box; 
            margin-bottom:20px; border-radius:4px; 
            transition:1s; 

            &::placeholder{
                color:skyblue; 
            }

            &:focus{
                border:1px solid #1aabff; 
                background:#e6faff; 
            }
            &.error{
                background:#ffeafe; 
                border:1px solid #ff24ff; 
            }
        }

       
    }
    input[type=reset]{
        width:100%; border:none; 
        margin-top:24px; margin-bottom:15px; 
        padding:12px; box-sizing:border-box; 
        color:#fff; 
        background:linear-gradient(45deg, #c5c5c5, #818181); 
        box-shadow:3px 6px 10px rgba(0,0,0,0.1); 
        font:bold 12px/1 'arial'; letter-spacing:1px; 
        border-radius:4px; cursor:pointer; opacity:0.5; transition:0.5s; 

        &:hover{
            opacity:1; 
            transform:scale(1.05); 
        }
    }

    input[type=submit]{
        width:100%; border:none; 
        margin-bottom:10px; 
        padding:12px; box-sizing:border-box; 
        color:#fff; 
        background:linear-gradient(45deg, #52f9ff, #25b0fd);
        box-shadow:3px 6px 10px rgba(19,200,255,0.4);  
        opacity:0.8; transition:0.5s; 
        border-radius:4px; letter-spacing:4px; cursor:pointer; 
        font:bold 12px/1 'arial'; 

        &:hover{
            opacity:1; 
            transform:scale(1.05); 
        }
    }
    
}