@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Sarpanch:wght@900&family=Work+Sans:ital,wght@1,100&display=swap');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
a{outline-style:0; text-decoration:none;}
ul,ol,li{ list-style:none;}
body{
	background: #000;
}
.bg{
	width:100%; height:100vh; position:relative; overflow:hidden;
}
.bg video{
	/* width:100%; height:100%; object-fit:cover; */
	width:2200px; position:relative; top:50%; left:50%; transform:translate(0, -50%);
}
.bg .mask{
	width:100%; height:100%; position:absolute; top:0; left:0;
	background: url(../img/mask.png) no-repeat center/cover;
}


.menu{
	position:absolute; top:5%; left:5%;
}
.menu ul li{ float:left; margin-right:40px;}
.menu ul li a{ font:14px/1 arial; color:#333; letter-spacing:2px;}


.infoBox{
	position:absolute; left:5%; top:50%; transform:translateY(-40%);
}
.infoBox h1{
	font-weight:bold; font-size:5vw; font-family:"sarpanch"; color:#222; line-height:1; transform:skewX(-10deg);
}
.infoBox h2{
	font:bold 1vw/1 'work sans'; color:#222; letter-spacing:1vw;
	margin-bottom:50px;
}


.info video{
	width:40vw; height:auto; object-fit:cover;transform:skewX(-10deg);
}


.sns{
	position:absolute; left:5%; bottom:5%;
}
.sns li{ float:left; margin-right:40px; }
.sns li a{ font-size:18px; color:#777; }
.sns li span{margin-left:10px;}