* {
  margin: 0px;
  padding: 0px; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

table, td, th {
  border-collapse: collapse; }

fieldset {
  border: none; }

input, a, button {
  outline: 1; }

.hidden {
  position: absolute;
  top: -9999px;
  opacity: 0; }

section {
  width: 100%;
  height: 100vh;
  position: relative; }
  section #intro {
    width: 800px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -200px;
    transition: 2s;
    opacity: 0;
    transform: translateY(-200px); }
    section #intro.on {
      opacity: 1;
      transform: translateY(0); }
    section #intro strong {
      font: bold 320px/1 'arial';
      color: #333; }
    section #intro span {
      font: bold 110px/1 'arial';
      color: #333;
      position: relative;
      left: 20px;
      top: -40px; }
  section #wrap {
    width: 800px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -200px; }
    section #wrap .top {
      width: 0%;
      height: 1px;
      background: #000;
      position: absolute;
      top: 0;
      left: 0; }
    section #wrap .right {
      width: 1px;
      height: 0%;
      background: #000;
      position: absolute;
      top: 0;
      right: 0; }
    section #wrap .bottom {
      width: 0%;
      height: 1px;
      background: #000;
      position: absolute;
      bottom: 0;
      right: 0; }
    section #wrap .left {
      width: 1px;
      height: 0%;
      background: #000;
      position: absolute;
      bottom: 0;
      left: 0; }
    section #wrap .content {
      width: 100%;
      height: 100%;
      background: #111;
      position: absolute;
      top: 0;
      left: 0;
      display: none; }
      section #wrap .content .close {
        font: bold 14px/1 'arial';
        color: #fff;
        position: absolute;
        top: 30px;
        right: 0px;
        opacity: 0; }
  section #wrap2 {
    width: 100%;
    height: 0px;
    background: #111;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: 0px; }
    section #wrap2 .close {
      font: bold 12px/1 'arial';
      color: #fff;
      position: absolute;
      top: 30px;
      right: 30px; }
  section .btn1 {
    display: block;
    width: 390px;
    height: 40px;
    background: #444;
    color: #bbb;
    font: bold 12px/40px 'arial';
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 220px;
    margin-left: -400px; }
    section .btn1.on {
      background: #111;
      color: #fff; }
  section .btn2 {
    display: block;
    width: 390px;
    height: 40px;
    background: #444;
    color: #bbb;
    font: bold 12px/40px 'arial';
    text-align: center;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: 220px;
    margin-right: -400px; }
    section .btn2.on {
      background: #111;
      color: #fff; }

/*# sourceMappingURL=style.css.map */
